QListWidget {
	border-radius: 4px;
	border: 1px solid rgb(50, 50, 50);
	background-color: rgb(105, 105, 105);
	alternate-background-color: rgb(85, 85, 85);
	font-size: 16px;
	font-weight: bold;
}

QListWidget::item:selected {
	border: 0px;
	background-color: #718792;
}
